.address-popup {
    max-width: 343px;
    &-title {
        font-size: $font-size-main;
        display: block;
        margin: 0 0 30px;
        padding: 0 30px 0 0;
    }
    p {
        margin: 0 0 15px;
    }
    a {
        text-decoration: none;
        color: $white;
    }
    &-nav {
        padding: 16px 0 0 0;
    }
    button {
        width: 100%;
        &:first-child {
            margin: 0 0 12px;
            padding: 0;
            a {
                width: 100%;
                min-height: 45px;
                display: inline-block;
                padding: 12px 0;
            }
        }
    }
}

.shipment-popup {
    p {
        margin: 0 0 15px;
        span {
            font-weight: bold;
        }
    }
}