.age-popup {
    max-width: 343px;
    &-title {
        font-size: $font-size-main;
        display: block;
        margin: 0 0 20px;
    }
    p {
        margin: 0 0 15px;
    }
    label {
        margin: 0 0 15px;
        font-size: $font-size-main;
        cursor: pointer;
    }
    button {
        width: 100%;
        margin: 0 0 12px;
    }
}
