.cart-details {
    padding: 35px 32px 32px;
    display: flex;
    flex-direction: column;
    &-title {
        font-size: 28px;
        line-height: 140%;
    }
    &-close {
        position: absolute;
        top: 35px;
        right: 35px;
        transition: all .35s ease-in-out;
        color: $black;
        font-size: $font-size-main;
        cursor: pointer;
    }
    &-box {
        padding-top: 20px;
        &-subtitle {
            font-size: 18px;
            line-height: 150%;
        }
        &-list {
            margin-top: 15px;
        }
        &-item {
            display: flex;
            border-bottom: 1px solid $gray;
            padding: 0 0 18px;
            margin: 0 0 16px;
            @include media-breakpoint-up(md) {
                padding: 0 0 16px;
            }
        }
    }
    &-footer {
        background: $white;
        padding: 20px 0;
        display: flex;
        flex: 1;
        align-items: flex-end;
    }
    .product-info {
        display: flex;
        flex: 1;
        padding: 0 20px 0 0;
    }
    .product-quantity {
        font-size: $font-size-main;
        color: $black;
        margin: 0 16px 0 0;
        @include media-breakpoint-up(md) {
            margin: 0 32px 0 0;
        }
    }
    .product-title {
        display: block;
        font-weight: 600;
        line-height: 1.6;
        color: $black;
    }
    .product-description {
        display: block;
        font-size: $font-size-smallest;
        color: $gray-lightest;
    }
    .product-data {
        text-align: right;
        min-width: 60px;
    }
    .product-price {
        display: block;
        font-size: $font-size-main;
        line-height: 1.8;
        color: $black;
        margin: 0 0 10px;
        text-align: center;
    }
    .go-to-checkout {
        width: 100%;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}