.content-shop-category {
    margin: 0 0 14px;
    @include media-breakpoint-up(md) {
        margin: 0 0 40px;
    }
    h2 {
        margin: 0 0 18px;
        color: $white;
        @include media-breakpoint-up(md) {
            margin: 0 0 24px;
        }
    }
    &-list {
        margin: 0 0 30px;
        @include media-breakpoint-up(md) {
            margin: 0 0 48px;
        }
    }
    &-item {
        display: inline-block;
        margin: 0 20px 0 0;
        font-size: $font-size-smallest;
        line-height: 160%;
        color: $gray;
        padding: 12px 0;
        &:hover {
            color: $white;
            font-weight: 600;
            cursor: pointer;
        }
        &:last-child {
            margin: 0;
        }
        &.active {
            color: $white;
            font-weight: 600;
            border-bottom: 1px solid $white;
        }
        @include media-breakpoint-up(md) {
            font-size: $font-size-small;
        }
    }
}