.content-shop-product {
    position: relative;
    cursor: pointer;
    margin: 0 0 16px;
    @include media-breakpoint-up(lg) {
        transition: $transition;
        transform: scale(1);
        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -8px;
            left: -8px;
            right: -8px;
            bottom: -8px;
            border: transparent;
            transition: $transition;
        }
        &:hover {
            transition: $transition;
            transform: scale(1.02);
        }
        &:hover:before {
            box-shadow: 0 0 8px 4px rgba(55, 84, 160, 0.5);
        }
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -8px;
        @include media-breakpoint-up(md) {
            margin: 0 -16px;
        }
    }
    &-item {
        max-width: 50%;
        width: 50%;
        padding: 0 8px;
        @include media-breakpoint-up(sm) {
            max-width: 33.3%;
            width: 33.3%;
        }
        @include media-breakpoint-up(lg) {
            max-width: 25%;
            width: 25%;
            padding: 0 16px;
        }
    }
    &-image {
        position: relative;
        text-align: center;
        background: $black;
        margin: 0 0 8px;
        img {
            width: 100%;
        }
    }
    &-add {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40px;
        height: 40px;
        padding: 8px;
        z-index: 10;
        .icon-circle-plus {
            color: $white;
            font-size: 1.5rem;
        }
        @include media-breakpoint-up(md) {
            width: 56px;
            height: 56px;
            padding: 16px;
        }
    }
    &-info {
        font-size: $font-size-smallest;
        color: $white;
        line-height: 1.6;
        @include media-breakpoint-up(md) {
            font-size: $font-size-small;
        }
    }
    &-name {
        display: block;
        font-size: $font-size-main;
        line-height: 1.5;
        @include media-breakpoint-up(md) {
            font-size: $font-size-great;
        }
    }
    &-description {
        display: block;
        color: $white-darkest;
        margin: 0 0 8px;
    }
    &-price {
        font-size: $font-size-great;
        line-height: 1.5;
        margin: 0 0 8px;
        @include media-breakpoint-up(md) {
            font-size: 1.25rem;
        }
    }
    &-name,
    &-description,
    &-price {
        display: block;
    }
}