.footer {
    padding: 60px 0;
    @include media-breakpoint-up(md) {
        padding: 96px 0;
    }
    &-logo {
        width: 100%;
        text-align: center;
        margin: 0 0 60px;
        @include media-breakpoint-up(md) {
            margin: 0 0 80px;
        }
    }
    &-links {
        @include media-breakpoint-up(md) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    &-nav {
        @include media-breakpoint-up(md) {
            display: flex;
            margin: 0 -12px;
        }
        li {
            margin: 0 0 15px;
            @include media-breakpoint-up(md) {
                margin: 0;
                padding: 0 12px;
            }
        }
        a {
            color: $white;
            text-decoration: none;
            font-size: $font-size-great;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}