.header {
    margin: 0 0 4px;
    &-sticky {
        background: $black;
        position: fixed;
        z-index: 15;
        top: 0;
        left: 0;
        right: 0;
        width: 100vw;
        transition: 0.45s;
        &.not-sticky {
            top: -100%;
        }
    }
    &-box {
        padding: 32px 0;
        border-bottom: 1px solid $black-lightest;
        @include media-breakpoint-up(md) {
            padding: 40px 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
        }
    }
    &-branding {
        text-align: center;
        margin: 0 0 26px;
        @include media-breakpoint-up(md) {
            width: 100%;
        }
        @include media-breakpoint-up(lg) {
            width: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            margin: 4px 0 0 0;
        }
    }
    &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @include media-breakpoint-up(md) {
            width: 60%;
            justify-content: flex-start;
        }
        @include media-breakpoint-up(lg) {
            width: 30%;
            flex-wrap: wrap;
        }
        @include media-breakpoint-up(xxl) {
            width: 40%;
        }
    }
    &-address {
        color: $white;
        display: block;
        padding: 0 0 0 30px;
        position: relative;
        font-size: $font-size-smallest;
        max-width: 225px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
        &:before {
            content: $icon-pin-small;
            font-family: $icomoon-font-family;
            position: absolute;
            top: -4px;
            left: 0;
            font-size: 1.2rem;
            @include media-breakpoint-up(md) {
                top: 50%;
                left: -7px;
                transform: translateY(-50%);
                font-size: 1.5rem;
            }
        }
        @include media-breakpoint-up(md) {
            font-size: $font-size-small;
            padding: 0 0 0 26px;
        }
        @include media-breakpoint-up(lg) {
            margin: 0 0 10px;
        }
        @include media-breakpoint-up(xxl) {
            margin: 0;
        }
        a {
            color: $white;
            font-size: $font-size-smallest;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
            @include media-breakpoint-up(md) {
                font-size: $font-size-small;
            }
        }
    }
    &-shipment {
        padding: 5px 8px 5px 8px;
        margin: 0 0 0 26px;
        min-width: 162px;
        font-size: 0.625rem;
        line-height: 1.4;
        background: $green-darkest;
        border-radius: 4px;
        color: $green;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
        span,
        time {
            display: block;
        }
        @include media-breakpoint-up(md) {
            padding: 5px 18px;
            font-size: $font-size-small;
        }
        @include media-breakpoint-up(lg) {
            margin: 0;
        }
        @include media-breakpoint-up(xxl) {
            margin: 0 0 0 26px;
        }
    }
}