.header-basket {
    display: flex;
    align-items: center;
    padding: 4px 12px 4px 16px;
    background: $black-darketst;
    border-radius: 32px;
    position: relative;
    &-box {
        position: fixed;
        z-index: 9;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 8px 16px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $black;
        border-top: 1px solid $black-lightest;
        transition: $transition;
        @include media-breakpoint-up(md) {
            justify-content: flex-end;
            position: static;
            width: 40%;
            border: none;
        }
        @include media-breakpoint-up(md) {
            justify-content: flex-end;
            position: static;
            width: 30%;
        }
    }
    &-title {
        color: $white;
        @include media-breakpoint-up(md) {
            display: none;
        }
    }
    &-quantity {
        display: block;
        position: relative;
        width: 24px;
        height: 24px;
        margin: 0 10px 0 0;
        .is-active & {
            margin: 0 25px 0 0;
        }
        &:before {
            content: $icon-basket;
            font-family: $icomoon-font-family;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 1.5rem;
            line-height: 1;
            color: $white;
        }
        .number {
            display: none;
            position: absolute;
            right: -14px;
            bottom: -11px;
            text-align: center;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: $white;
            font-size: 0.625rem;
            font-weight: 600;
            line-height: 2.4;
            .is-active & {
                display: block;
            }
        }
    }
    &-total {
        display: block;
        font-size: $font-size-small;
        color: $gray-light;
        .is-active & {
            color: $white;
        }
    }
    &:hover {
        cursor: pointer;
    }
}