.map-page {
    position: relative;
    @include media-breakpoint-up(md) {
        height: 100vh;
    }
    &-container {
        width: 100%;
        height: 100%;
        position: relative;
        box-sizing: border-box;
        button {
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            cursor: pointer;
        }
    }
    .map {
        height: calc(100vh - 230px);
        @include media-breakpoint-up(md) {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 384px;
            height: auto;
        }
        .marker-disabled {
            display: none;
        }
        div[title] {
            position: relative;
            overflow: visible !important;
            &:after {
                content: attr(aria-label);
                position: absolute;
                top: 100%;
                left: 0;
                text-align: center;
                width: 100%;
                color: rgba(255, 254, 242, 1);
                font-size: 14px;
                margin: 6px 0 0;
                opacity: 0;
                transition: 0.3s;
            }
            &:hover:after {
                opacity: 1;
                transition: 0.3s;
            }
        }
    }
}

.locations-panel {
    background: rgba(0, 0, 0, 1);
    color: white;
    padding: 16px 32px 0;
    box-sizing: border-box;
    @include media-breakpoint-up(md) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 384px;
        padding: 32px;
        z-index: 2;
        overflow-y: auto;
    }
    &-logo {
        text-align: center;
        margin: 0 auto 16px;
        max-width: 210px;
        @include media-breakpoint-up(md) {
            max-width: 286px;
            margin: 0 auto 32px;
        }
    }
    .section-name {
        display: none;
    }
    &-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        .search-title {
            font-size: $font-size-smallest;
            font-weight: 600;
            margin: 0 0 16px;
        }
        .search {
            width: 48px;
            height: 48px;
            background: transparent;
            font-size: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            button {
                width: 100%;
                height: 100%;
                &:after {
                    content: $icon-compass-arrow;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-family: $icomoon-font-family;
                    font-size: 0.938rem;
                    color: $white;
                }
            }
        }
        .search-input-icon {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            font-size: $font-size-large;
            color: $white;
            width: 48px;
            height: 48px;
            cursor: pointer;
            &:before {
                position: absolute;
                top: 50%;
                left: 18px;
                transform: translateY(-50%);
            }
        }
        .location-result {
            position: relative;
            padding: 0 0 8px;
            border-bottom: 1px solid $black-lightest;
            cursor: pointer;
            margin: 0 0 8px;
        }
        .location-results-list {
            margin: 0 0 20px;
        }
        .location-result-link {
            display: block;
            color: $white;
            text-decoration: none;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
            }
            &:visited,
            &:hover {
                color: $white;
            }
        }
        .location-results-hint {
            display: none;
            color: $green;
            background: $green-darkest;
            padding: 16px;
            font-size: $font-size-smallest;
            line-height: 1.6;
            border-radius: 4px;
            margin: 0 0 15px;
        }
        .location-result.selected {
            border-bottom: 2px solid $white;
        }
        button.select-location {
            margin-bottom: 0.6em;
            text-align: left;
        }
        .location-result h2.name {
            display: block;
            font-size: $font-size-great;
            font-weight: 400;
            margin: 0;
        }
        .location-result .address {
            display: block;
            font-size: $font-size-smallest;
            margin-bottom: 0;
        }
        .location-result .details-button,
        .location-result .distance {
            display: none;
        }
        .show-directions {
            display: none;
        }
    }
}



.form-field {
    display: block;
    margin-bottom: 16px;
    position: relative;
    padding: 0 0 0 48px;
}
.form-field__label {
    font-size: $font-size-small;
    transform: translateY(0);
    display: block;
    font-weight: normal;
    left: 0;
    margin: 0;
    padding: 12px 0;
    position: absolute;
    top: 0;
    transition: all 0.4s;
    width: 100%;
}
.form-field__control {
    position: relative;
    width: 100%;
    padding: 0;
    z-index: 1;
}
.form-field__bar {
    top: 0;
    left: -48px;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    margin: 0 auto;
    position: absolute;
    transition: all 0.4s;
    border: 2px solid transparent;
    border-radius: 8px;
    pointer-events: none;
    background: rgba(44, 44, 43, 1);
    z-index: -1;
}

.form-field__input {
    appearance: none;
    background: transparent;
    border: 0;
    color: $white;
    display: block;
    font-size: $font-size-small;
    height: 48px;
    outline: 0;
    width: 100%;
    padding: 10px 40px 0 0;

    // IE 10-11
    &:-ms-input-placeholder {
        ~ .form-field__label {
            transform: translateY(0);
        }
    }
    // All other browsers except Edge
    &:placeholder-shown,
    &:-webkit-autofill {
        ~ .form-field__label {
            transform: translateY(0);
        }
    }
    &:focus,
    &:not(:placeholder-shown),
    &:-webkit-autofill {
        ~ .form-field__label {
            font-size: 0.625rem;
            transform: translateY(-8px);
        }
        ~ .form-field__bar {
            border-color: rgba(255, 254, 242, 1);
            background: transparent;
        }
    }
}