.order-box {
    padding: 30px 0;
    background: $white;
    &-title {
        display: block;
        font-size: 1.75rem;
        margin: 0 0 30px;
    }
    &-subtitle {
        display: block;
        font-size: $font-size-great;
        margin: 0 0 14px;
    }
    &-item {
        display: flex;
        border-bottom: 1px solid $gray;
        padding: 0 0 18px;
        margin: 0 0 16px;
        @include media-breakpoint-up(md) {
            padding: 0 0 16px;
        }
    }
    .product-image {
        display: none;
        @include media-breakpoint-up(md) {
            display: block;
            margin: 0 45px 0 0;
            min-width: 130px;
            width: 130px;
        }
        @include media-breakpoint-up(lg) {
            margin: 0 90px 0 0;
            min-width: 262px;
        }
    }
    .product-info {
        display: flex;
        flex: 1;
        padding: 40px 20px 0 0;
    }
    .product-quantity {
        font-size: $font-size-main;
        color: $black;
        margin: 0 16px 0 0;
        @include media-breakpoint-up(md) {
            margin: 0 32px 0 0;
        }
    }
    .product-title {
        display: block;
        font-weight: 600;
        line-height: 1.6;
        color: $black;
    }
    .product-description {
        display: block;
        font-size: $font-size-smallest;
        color: $gray-lightest;
    }
    .product-data {
        text-align: right;
        min-width: 60px;
        @include media-breakpoint-up(md) {
            display: flex;
            justify-content: space-between;
            min-width: 160px;
            padding: 40px 0 6px;
        }
        @include media-breakpoint-up(lg) {
            min-width: 260px;
        }
    }
    .product-price {
        display: block;
        font-size: $font-size-main;
        line-height: 1.8;
        color: $black;
        margin: 0 0 10px;
        @include media-breakpoint-up(md) {
            order: 1;
        }
    }
    &-row {
        width: 100%;
        @include media-breakpoint-up(md) {
            margin: 0 0 32px;
        }
    }
    &-point {
        width: 100%;
        margin: 0 0 15px;
        @include media-breakpoint-up(md) {
            display: inline-block;
            vertical-align: top;
            margin: 0 28px 0 0;
            max-width: 360px;
            &.personal-data {
                max-width: 300px;
            }
        }
    }
    &-sum {
        margin: 0 0 30px;
    }
    &-subtotal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $black;
        border-bottom: 1px solid $black;
        padding: 0 0 15px;
        margin: 0 0 17px;
        .price {
            font-size: $font-size-main;
        }
    }
    &-total {
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        .price {
            font-size: $font-size-main;
        }
    }
    &-button {
        width: 100%;
        span:after {
            content: $icon-arrow-right;
            font-family: $icomoon-font-family;
            display: inline-block;
            vertical-align: middle;
            align-items: center;
            margin: 0 0 0 10px;
            font-size: $font-size-great;
            line-height: 0.6;
            font-weight: 400;
        }
        @include media-breakpoint-up(md) {
            max-width: 360px;
        }
    }
}

.order-box-info {
    display: inline-block;
    vertical-align: top;
    padding: 8px 16px;
    background: $gray;
    color: $black;
    border-radius: 4px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid transparent;
    transition: $transition;
    &.is-error {
        border-color: #fc0d1b;
        + .order-box-info-error {
            display: block;
            opacity: 1;
        }
    }
    label {
        display: block;
        font-size: 0.625rem;
        line-height: 1.2;
        margin-top: 5px;
    }
    &-error {
        display: none;
        font-size: $font-size-smallest;
        color: #fc0d1b;
        transition: $transition;
        opacity: 0;
    }
    &-date {
        padding: 8px 16px 8px 48px;
        background: $white;
        border-radius: 4px;
        border: 1px solid $gray;
        &:before {
            content: $icon-calendar;
            position: absolute;
            font-family: $icomoon-font-family;
            top: 10px;
            left: 17px;
            font-size: $font-size-large;
        }
        &:after {
            content: $icon-calendar;
            position: absolute;
            font-family: $icomoon-font-family;
            top: 10px;
            left: 17px;
            font-size: $font-size-large;
        }
    }
    &-text {
        span {
            display: block;
            line-height: 1.8;
        }
        .tel-block{
            position: relative;
            padding: 0 0 0 10px;
            &:before {
                content: '+';
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    .qty-small-box {
        padding: 0;
    }
    &.order-box-note textarea {
        height: 45px;
    }
    &.info-address {
        background: $white;
        border-radius: 4px;
        border: 1px solid $gray;
        padding: 9px 16px 10px;
    }
}