.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 21;
    transform: translate(-50%, -50%);
    max-width: 543px;
    width: 100%;
    background: $white;
    color: $black;
    padding: 16px;
    border-radius: 8px;
    font-size: $font-size-smallest;
    &.is-active {
        display: block;
    }
    &-close-icon {
        display: block;
        position: absolute;
        top: 12px;
        right: 17px;
        transform: rotate(45deg);
        font-size: 1.5rem;
        cursor: pointer;
    }
}