.product-details {
    width: 100%;
    height: calc(100% - 72px);
    background: $white;
    position: fixed;
    right: 0;
    top: 72px;
    bottom: 0;
    z-index: 21;
    border-radius: 4px 4px 0 0;
    transform: translateY(100%);
    transition: $transition;
    overflow-y: scroll;
    &.is-active {
        transform: translateY(0);
        transition: $transition;
    }
    @include media-breakpoint-up(lg) {
        top: 0;
        height: 100%;
        max-width: 384px;
        border-radius: 0 0 0 0;
        transform: translateX(100%);
        &.is-active {
            transform: translateX(0);
            transition: $transition;
        }
    }
    &-box {
        padding: 32px;
        margin: 0 0 40px;
    }
    &-image {
        background: no-repeat center #000;
        width: 100%;
        height: 216px;
        position: relative;
        @include media-breakpoint-up(lg) {
            background-size: cover;
        }
    }
    &-close {
        position: absolute;
        top: 35px;
        right: 35px;
        transition: all .35s ease-in-out;
        color: $white;
        font-size: $font-size-main;
        cursor: pointer;
    }
    &-title {
        display: block;
        font-size: $font-size-great;
        line-height: 150%;
        color: $black;
        position: relative;
        padding: 0 30px 0 0;
        .icon-circle-info {
            position: absolute;
            right: 0;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
    &-description {
        display: block;
        font-size: $font-size-small;
        line-height: 160%;
        color: $gray-lightest;
        max-width: 281px;
        margin: 0 0 8px;
    }
    &-price {
        display: block;
        margin: 0 0 16px;
        font-size: 20px;
        line-height: 150%;
        color: $black;
    }
    &-button {
        margin: 0 auto 32px;
        max-width: 320px;
        display: none;
        &.active {
            display: block;
        }
    }
    &-information {
        z-index: 11;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: $white;
        top: 0;
        color: $black;
        transition: $transition;
        transform: translateX(-100%);
        display: none;
        .is-active & {
            display: block;
        }
        &.is-active {
            transition: $transition;
            transform: translateX(0);
        }
    }
    &-header {
        position: relative;
        padding: 0 20px;
        margin: 0 0 34px;
        .icon-arrow-back {
            width: 12px;
            height: 24px;
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            font-size: 1.5rem;
        }
        .icon-cross {
            width: 18px;
            height: 18px;
            color: $black;
            position: absolute;
            top: 0;
            right: 0;
            font-size: $font-size-great;
            cursor: pointer;
        }
    }
    &-heading {
        display: block;
        text-align: center;
        font-size: $font-size-small;
        line-height: 1.6;
    }
    &-overview {
        font-size: $font-size-small;
        line-height: 1.6;
        margin: 0 0 60px;
        white-space: pre-wrap;
        @include media-breakpoint-up(md) {
            margin: 0;
        }
        h3 {
            font-size: $font-size-great;
            line-height: 150%;
            font-weight: 400;
        }
    }
    .product-added {
        display: none;
        &.active {
            display: block;
        }
    }
    &-popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 111;
        background: rgba(16,18,20,.9);
        &-box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding: 25px;
            max-width: 80vw;
            max-height: 80vh;
            overflow: hidden;
            img {
                max-height: inherit;
            }
        }
        &-close {
            position: absolute;
            right: 0;
            top: 0;
            color: $white;
            font-size: $font-size-great;
            cursor: pointer;
        }
    }
}