.qty-count {
    font-size: $font-size-large;
    display: flex;
    span {
        cursor: pointer;
        margin: 0 20px 0 0;
        &.disabled {
            pointer-events: none;
            color: $gray-light;
            cursor: auto;
        }
    }
    span:last-child {
        margin: 0;
    }
}

.qty-small {
    margin: 0 0 32px;
    color: $black;
    &-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 16px;
    }
    &-info {
        display: flex;
    }
    &-label {
        display: block;
        margin: 0 8px 0 0;
        font-size: $font-size-small;
    }
    &-number {
        display: block;
        background: $black;
        border-radius: 50%;
        color: $white;
        font-size: 0.625rem;
        font-weight: 600;
        width: 24px;
        min-width: 24px;
        height: 24px;
        text-align: center;
        line-height: 22px;
    }
}