.social-list {
    display: flex;
    margin: 0 0 60px;
    @include media-breakpoint-up(md) {
        margin: 0;
    }
    &-item {
        width: 32px;
        height: 32px;
        display: block;
        margin: 0 32px 0 0;
    }
    &-link {
        display: block;
        font-size: 2rem;
        line-height: 1;
        color: $white;
        text-decoration: none;
        span {
            transition: $transition;
        }
        &:hover span.icon-instagram {
            color: #ff2f68;
        }
        &:hover span.icon-facebook {
            color: #3b5998;
        }
    }
}