.thankyou-page {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    color: $white;
    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.9);
    }
    .thankyou-page-background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -2;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            max-width: initial;
        }
    }
    &-logo {
        text-align: center;
        padding: 25px 0 10px;
        @include media-breakpoint-up(md) {
            padding: 25px 0;
            margin: 0 0 20px;
        }
    }
    &-content {
        padding: 45px 0;
        font-size: $font-size-great;
        span {
            color: $green;
        }
        p {
            margin: 0 0 15px;
        }
    }
    &-title {
        font-size: 1.75rem;
        margin: 0 0 6px;
    }
    &-button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        line-height: 1.6;
        font-size: $font-size-smallest;
        padding: 4px 10px;
        letter-spacing: -0.2px;
        text-decoration: none;
        min-height: 48px;
        svg {
            fill: $black;
            margin: 0 10px 0 0;
        }
        &:hover {
            color: $white;
            border: 1px solid $white;
            svg {
                fill: $white;
            }
        }
    }
}