.container-1376 {
    max-width: 1408px;
    padding: 0 16px;
    margin: 0 auto;
    width: 100%;
}

.container-1142 {
    max-width: 1206px;
    padding: 0 32px;
    margin: 0 auto;
    width: 100%;
}

.container-438 {
    max-width: 502px;
    padding: 0 32px;
    margin: 0 auto;
    width: 100%;
}