*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba($white, 0);
}

body {
    background-color: $black;
}

*:focus {
    outline: thin dotted;
    outline-offset: -1px;
}

a:focus {
    outline: thin dotted;
    box-shadow: none;
}

//stylelint-disable
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}//stylelint-enable


ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

b,
strong {
    font-weight: bolder;
}

em,
i {
    font-style: italic;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

textarea {
    resize: none;
    width: 100%;
    display: block;
    line-height: 1.3;
    font-size: $font-size-smallest;
}

input {
    line-height: 1.2;
    font-size: $font-size-small;
}

input,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    transition: .35s;
    padding: 0;
    border: none;
    background: transparent;
    color: $black;
    min-height: 20px;
    &:focus {
        outline: none;
    }
    &:focus::-webkit-input-placeholder {
        color: $black;
    }
    &:focus::-moz-placeholder {
        color: $black;
        opacity: 1;
    }
    &:focus:-ms-input-placeholder {
        color: $black;
    }
}

input[type='checkbox'] {
    width: 0;
    height: 0;
    opacity: 0;
    display: none;
}

input[type='checkbox'].woocommerce-form__input-checkbox {
    -webkit-appearance: initial;
    -moz-appearance: initial;
    appearance: auto;
    width: auto;
    height: auto;
    opacity: 1;
    display: inline-block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}