/*
 * Base
 */
body {
    font-family: $font-family-base;
    font-size: $font-size-small;
    line-height: 1.6;
    color: $black;
    text-align: left;
    height: 100%;
    &.subcompany-template-default {
        margin-left: calc(100vw - 100%);
    }
    &.woocommerce-checkout {
        background: $white;
        &.woocommerce-order-pay {
            background: $black;
        }
    }
}

/*
 * Headings
 */
h1,h2,h3,h4,h5 {
    font-family: $font-family-secondary;
}

h1,
.h1-style {
    font-size: $font-size-large;
    line-height: 1.5;
    display: block;
    margin: 0 0 20px;
    @include media-breakpoint-up(md) {
        font-size: 2rem;
        line-height: 1.4;
        margin: 0 0 30px;
    }
}


/*
 * Links
 */

a {
    &:active {
        outline: none;
    }
    &:focus {
        outline: thin dotted;
        box-shadow: none;
    }
}

p {
    margin: 0 0 20px;
    @include media-breakpoint-up(md) {
        margin: 0 0 30px;
    }
}

.body-overlay {
    overflow: hidden;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    .body-overlay & {
        &:after {
            content: '';
            position: absolute;
            z-index: 20;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $black-light;
        }
    }
    &-main {
        flex: 1;
    }
}
.btn {
    border-radius: 4px;
    display: inline-block;
    font-size: $font-size-small;
    font-weight: 600;
    background: $black;
    border: none;
    color: $white;
    line-height: 1.8;
    padding: 12px 24px;
    text-align: center;
    transition: $transition;
    cursor: pointer;
    &:hover {
        background: $black-hover;
        transition: $transition;
    }
    &-border {
        background: none;
        color: $black;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 2px solid $black;
            border-radius: 4px;
        }
        &:hover {
            color: $white;
        }
    }
}

.bg-gray {
    background: $gray;
    padding: 0 19px 0 16px;
    border-radius: 4px;
    color: $black;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    &-icon {
        width: 20px;
        height: 20px;
        border: 2px solid $white-darkest;
        border-radius: 3px;
        margin: 0 10px 0 0;
        svg {
            display: none;
            width: 22px;
            height: 22px;
            transform: translateY(-5px);
        }
    }
    input[type='checkbox']:checked + span svg {
        display: block;
    }
}