[class^='icon-'],
[class*=' icon-'] {
    font-family: '#{$icomoon-font-family}' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook {
    &:before {
        content: $icon-facebook;
    }
}
.icon-instagram {
    &:before {
        content: $icon-instagram;
    }
}
.icon-pin-small {
    &:before {
        content: $icon-pin-small;
    }
}
.icon-basket {
    &:before {
        content: $icon-basket;
    }
}
.icon-calendar {
    &:before {
        content: $icon-calendar;
    }
}
.icon-compass-arrow {
    &:before {
        content: $icon-compass-arrow;
    }
}
.icon-arrow-right {
    &:before {
        content: $icon-arrow-right;
    }
}
.icon-cross {
    &:before {
        content: $icon-cross;
    }
}
.icon-circle-minus {
    &:before {
        content: $icon-circle-minus;
    }
}
.icon-circle-plus {
    &:before {
        content: $icon-circle-plus;
    }
}
.icon-circle-info {
    &:before {
        content: $icon-circle-info;
    }
}
.icon-arrow-back {
    &:before {
        content: $icon-arrow-back;
    }
}