/*
 * Color System
 */
$black: rgba(0, 0, 0, 1);
$black-hover: rgba(0, 0, 0, 0.8);
$black-darketst: rgba(10, 10, 10, 1);
$black-light:rgba(16, 18, 20, 0.9);
$black-lightest: rgba(44, 44, 43, 1); // white/8
$white: rgba(255, 254, 242, 1); // white/100 #FFFEF2
$white-darkest: rgba(172, 172, 164, 1); // #ACACA4
$gray: rgba(235, 234, 223, 1); // #EBEADF
$gray-light: rgba(99, 99, 95, 1);
$gray-lightest: rgba(92, 92, 87, 1); // #5C5C57
$green: rgba(27, 183, 120, 1);
$green-darkest: rgba(27, 183, 120, 0.08);

$transition: 0.35s;

/*
 * Typography
 */

$font-family-base: 'sourcesans', sans-serif;
$font-family-secondary: 'avenir', sans-serif;

$font-size-main: 1rem;
$font-size-large: 1.25rem;//20px
$font-size-great: 1.125rem;//18px
$font-size-small: .875rem;//14px
$font-size-smallest: 0.75rem; //12px

/*
 * Font icon
 */

$icomoon-font-family: 'go_by_henssler' !default;
$icon-facebook: '\e900';
$icon-instagram: '\e901';
$icon-pin-small: '\e902';
$icon-basket: '\e903';
$icon-calendar: '\e904';
$icon-compass-arrow: '\e905';
$icon-arrow-right: '\e906';
$icon-cross: '\e907';
$icon-circle-minus: '\e908';
$icon-circle-plus: '\e909';
$icon-circle-info: '\e90a';
$icon-arrow-back: '\e90b';

/*
 * Breakpoints
 */
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1120px,
    xxl: 1240px,
    xxxl: 1440px,
);